# 資料庫應用(二)

- 講師有預先架設MySQL資料庫供大家練習，先以此資料庫進行學習

## MySQL 操作

- 如果你還沒有安裝 `PyMySQL` 可以先執行 `pip install PyMySQL`
- 在colab或是jupyter中可以新增一個cell程式，填入 `!pip install PyMySQL`

In [1]:
# add "+pymysql" in url for mysql module

#mysql_db_url = 'mysql+pymysql://username:password@your-db-url:port/dbname'
mysql_db_url = 'mysql+pymysql://root:password@206.189.86.205:32769/testdb'

## 練習題：把高雄空氣品質資料寫入資料庫中

In [19]:
# 更好的寫法!
import csv

with open('2018_kh_data.csv', 'r') as f:
    cr = csv.reader(f)
    data_list = list(cr)
data_list[0:5]

[['Name',
  'Date',
  'TSP',
  'PM10',
  'Chloride',
  'Nitrate',
  'Sulfate',
  'Lead',
  'Dust'],
 ['大社工業區', '2018年1月', '93', '', '', '', '', '0.029', '3.6'],
 ['大寮區公所', '2018年1月', '79', '', '', '', '', '0.042', '1.54'],
 ['大樹監測站', '2018年1月', '61', '', '', '', '', '0.02', '1.18'],
 ['仁武國中', '2018年1月', '79', '', '', '', '', '0.058', '2.68']]

In [ ]:
# 請填入你的程式

In [2]:
# 先裝 mysql的connection driver
# pip install PyMySQL

from sqlalchemy import create_engine

my_db = create_engine(mysql_db_url)

- Create

In [16]:
# 我們把tsp, pm10, lead都記下來
table_name = 'malo_khtsp_0903'
sql_cmd_str = "CREATE TABLE IF NOT EXISTS %s(sid varchar(20), dtime varchar(20), tsp float, pm10 float, lead float, PRIMARY KEY(sid, dtime))" %(table_name)
resultProxy = my_db.execute(sql_cmd_str)
resultProxy.__dict__

{'context': <sqlalchemy.dialects.mysql.mysqldb.MySQLExecutionContext_mysqldb at 0x12d3f076220>,
 'dialect': <sqlalchemy.dialects.mysql.pymysql.MySQLDialect_pymysql at 0x12d3debd460>,
 'cursor': None,
 'cursor_strategy': <sqlalchemy.engine.cursor.NoCursorDMLFetchStrategy at 0x12d3de23b00>,
 'connection': <sqlalchemy.engine.base.Connection at 0x12d3f076760>,
 '_echo': False,
 '_metadata': <sqlalchemy.engine.cursor._LegacyNoResultMetaData at 0x12d3de6fcd0>,
 'rowcount': 0,
 '_soft_closed': True}

In [ ]:
# 做upsert操作
import datetime
import random

for item in data_list[1:]:
    sid = item[0]#['Name']
    dtime = item[1]#['Date']
    tsp = item[2]#['TSP']
    pm10 = item[3]#['PM10']
    lead = item[7]#['Lead']
    sql_cmd_str = "insert into %s (sid, dtime, tsp, pm10, lead) values('%s', '%s', '%s', '%s', '%s')" %(
        table_name, sid, dtime, tsp, pm10, lead)
    sql_cmd_str = sql_cmd_str + (" ON DUPLICATE KEY UPDATE tsp='%s', pm10='%s', lead='%s'" %(tsp, pm10, lead))
    resultProxy=my_db.execute(sql_cmd_str)
    print(sql_cmd_str)

In [22]:
# 做upsert操作
import datetime
import random

for item in data_list[1:]:
    sid = item[0]#['Name']
    dtime = item[1]#['Date']
    tsp = item[2]#['TSP']
    if tsp=='':
        tsp = 'NULL'
    pm10 = item[3]#['PM10']
    if pm10=='':
        pm10 = 'NULL'
    lead = item[7]#['Lead']
    if lead=='':
        lead = 'NULL'
    sql_cmd_str = "insert into %s (sid, dtime, tsp, pm10, lead) values('%s', '%s', %s, %s, %s)" %(
        table_name, sid, dtime, tsp, pm10, lead)
    sql_cmd_str = sql_cmd_str + (" ON DUPLICATE KEY UPDATE tsp=%s, pm10=%s, lead=%s" %(tsp, pm10, lead))
    resultProxy=my_db.execute(sql_cmd_str)
    print(sql_cmd_str)

insert into malo_khtsp_0903 (sid, dtime, tsp, pm10, lead) values('大社工業區', '2018年1月', 93, NULL, 0.029) ON DUPLICATE KEY UPDATE tsp=93, pm10=NULL, lead=0.029
insert into malo_khtsp_0903 (sid, dtime, tsp, pm10, lead) values('大寮區公所', '2018年1月', 79, NULL, 0.042) ON DUPLICATE KEY UPDATE tsp=79, pm10=NULL, lead=0.042
insert into malo_khtsp_0903 (sid, dtime, tsp, pm10, lead) values('大樹監測站', '2018年1月', 61, NULL, 0.02) ON DUPLICATE KEY UPDATE tsp=61, pm10=NULL, lead=0.02
insert into malo_khtsp_0903 (sid, dtime, tsp, pm10, lead) values('仁武國中', '2018年1月', 79, NULL, 0.058) ON DUPLICATE KEY UPDATE tsp=79, pm10=NULL, lead=0.058
insert into malo_khtsp_0903 (sid, dtime, tsp, pm10, lead) values('半屏山電信局', '2018年1月', 104, 67, 0.014) ON DUPLICATE KEY UPDATE tsp=104, pm10=67, lead=0.014
insert into malo_khtsp_0903 (sid, dtime, tsp, pm10, lead) values('左營國小', '2018年1月', 98, 64, 0.006) ON DUPLICATE KEY UPDATE tsp=98, pm10=64, lead=0.006
insert into malo_khtsp_0903 (sid, dtime, tsp, pm10, lead) values('永安工業區', '2018年1月', 83, NULL, 0.052) ON DUPLICATE KEY UPDATE tsp=83, pm10=NULL, lead=0.052
insert into malo_khtsp_0903 (sid, dtime, tsp, pm10, lead) values('西子灣中山大學', '2018年1月', 84, 60, 0.043) ON DUPLICATE KEY UPDATE tsp=84, pm10=60, lead=0.043
insert into malo_khtsp_0903 (sid, dtime, tsp, pm10, lead) values('岡山醫院', '2018年1月', 102, NULL, 0.076) ON DUPLICATE KEY UPDATE tsp=102, pm10=NULL, lead=0.076
insert into malo_khtsp_0903 (sid, dtime, tsp, pm10, lead) values('林園工業區', '2018年1月', 90, NULL, 0.042) ON DUPLICATE KEY UPDATE tsp=90, pm10=NULL, lead=0.042
insert into malo_khtsp_0903 (sid, dtime, tsp, pm10, lead) values('河濱國小', '2018年1月', 55, 51, 0.026) ON DUPLICATE KEY UPDATE tsp=55, pm10=51, lead=0.026
insert into malo_khtsp_0903 (sid, dtime, tsp, pm10, lead) values('阿蓮區公所', '2018年1月', 65, NULL, 0.043) ON DUPLICATE KEY UPDATE tsp=65, pm10=NULL, lead=0.043
insert into malo_khtsp_0903 (sid, dtime, tsp, pm10, lead) values('前鎮國小', '2018年1月', 109, 72, 0.029) ON DUPLICATE KEY UPDATE tsp=109, pm10=72, lead=0.029
insert into malo_khtsp_0903 (sid, dtime, tsp, pm10, lead) values('莊敬國小', '2018年1月', 87, 70, 0.006) ON DUPLICATE KEY UPDATE tsp=87, pm10=70, lead=0.006
insert into malo_khtsp_0903 (sid, dtime, tsp, pm10, lead) values('愛國國小', '2018年1月', 97, 59, 0.014) ON DUPLICATE KEY UPDATE tsp=97, pm10=59, lead=0.014
insert into malo_khtsp_0903 (sid, dtime, tsp, pm10, lead) values('楠梓區清潔隊', '2018年1月', 84, 45, 0.021) ON DUPLICATE KEY UPDATE tsp=84, pm10=45, lead=0.021
insert into malo_khtsp_0903 (sid, dtime, tsp, pm10, lead) values('路竹地政事務所', '2018年1月', 84, NULL, 0.085) ON DUPLICATE KEY UPDATE tsp=84, pm10=NULL, lead=0.085
insert into malo_khtsp_0903 (sid, dtime, tsp, pm10, lead) values('鼓山圖書分館', '2018年1月', 94, 68, 0.014) ON DUPLICATE KEY UPDATE tsp=94, pm10=68, lead=0.014
insert into malo_khtsp_0903 (sid, dtime, tsp, pm10, lead) values('衛生局中正辦公室', '2018年1月', 55, 45, 0.02) ON DUPLICATE KEY UPDATE tsp=55, pm10=45, lead=0.02
insert into malo_khtsp_0903 (sid, dtime, tsp, pm10, lead) values('環保局環境檢驗科', '2018年1月', 92, 58, 0.02) ON DUPLICATE KEY UPDATE tsp=92, pm10=58, lead=0.02
insert into malo_khtsp_0903 (sid, dtime, tsp, pm10, lead) values('大社工業區', '2018年2月', 102, NULL, 0.055) ON DUPLICATE KEY UPDATE tsp=102, pm10=NULL, lead=0.055
insert into malo_khtsp_0903 (sid, dtime, tsp, pm10, lead) values('大寮區公所', '2018年2月', 91, NULL, 0.018) ON DUPLICATE KEY UPDATE tsp=91, pm10=NULL, lead=0.018
insert into malo_khtsp_0903 (sid, dtime, tsp, pm10, lead) values('大樹監測站', '2018年2月', 65, NULL, 0.015) ON DUPLICATE KEY UPDATE tsp=65, pm10=NULL, lead=0.015
insert into malo_khtsp_0903 (sid, dtime, tsp, pm10, lead) values('仁武國中', '2018年2月', 86, NULL, 0.033) ON DUPLICATE KEY UPDATE tsp=86, pm10=NULL, lead=0.033
insert into malo_khtsp_0903 (sid, dtime, tsp, pm10, lead) values('半屏山電信局', '2018年2月', 62, 38, 0.034) ON DUPLICATE KEY UPDATE tsp=62, pm10=38, lead=0.034
insert into malo_khtsp_0903 (sid, dtime, tsp, pm10, lead) values('左營國小', '2018年2月', 59, 32, 0.017) ON DUPLICATE KEY UPDATE tsp=59, pm10=32, lead=0.017
insert into malo_khtsp_0903 (sid, dtime, tsp, pm10, lead) values('永安工業區', '2018年2月', 83, NULL, 0.025) ON DUPLICATE KEY UPDATE tsp=83, pm10=NULL, lead=0.025
insert into malo_khtsp_0903 (sid, dtime, tsp, pm10, lead) values('西子灣中山大學', '2018年2月', 48, 28, 0.002) ON DUPLICATE KEY UPDATE tsp=48, pm10=28, lead=0.002
insert into malo_khtsp_0903 (sid, dtime, tsp, pm10, lead) values('岡山醫院', '2018年2月', 84, NULL, 0.017) ON DUPLICATE KEY UPDATE tsp=84, pm10=NULL, lead=0.017
insert into malo_khtsp_0903 (sid, dtime, tsp, pm10, lead) values('林園工業區', '2018年2月', 94, NULL, 0.002) ON DUPLICATE KEY UPDATE tsp=94, pm10=NULL, lead=0.002
insert into malo_khtsp_0903 (sid, dtime, tsp, pm10, lead) values('河濱國小', '2018年2月', 67, 52, 0.002) ON DUPLICATE KEY UPDATE tsp=67, pm10=52, lead=0.002
insert into malo_khtsp_0903 (sid, dtime, tsp, pm10, lead) values('阿蓮區公所', '2018年2月', 69, NULL, 0.024) ON DUPLICATE KEY UPDATE tsp=69, pm10=NULL, lead=0.024
insert into malo_khtsp_0903 (sid, dtime, tsp, pm10, lead) values('前鎮國小', '2018年2月', 86, 54, 0.017) ON DUPLICATE KEY UPDATE tsp=86, pm10=54, lead=0.017
insert into malo_khtsp_0903 (sid, dtime, tsp, pm10, lead) values('莊敬國小', '2018年2月', 53, 42, 0.034) ON DUPLICATE KEY UPDATE tsp=53, pm10=42, lead=0.034
insert into malo_khtsp_0903 (sid, dtime, tsp, pm10, lead) values('愛國國小', '2018年2月', 70, 46, 0.024) ON DUPLICATE KEY UPDATE tsp=70, pm10=46, lead=0.024
insert into malo_khtsp_0903 (sid, dtime, tsp, pm10, lead) values('楠梓區清潔隊', '2018年2月', 93, 54, 0.018) ON DUPLICATE KEY UPDATE tsp=93, pm10=54, lead=0.018
insert into malo_khtsp_0903 (sid, dtime, tsp, pm10, lead) values('路竹地政事務所', '2018年2月', 84, NULL, 0.031) ON DUPLICATE KEY UPDATE tsp=84, pm10=NULL, lead=0.031
insert into malo_khtsp_0903 (sid, dtime, tsp, pm10, lead) values('鼓山圖書分館', '2018年2月', 63, 45, 0.002) ON DUPLICATE KEY UPDATE tsp=63, pm10=45, lead=0.002
insert into malo_khtsp_0903 (sid, dtime, tsp, pm10, lead) values('衛生局中正辦公室', '2018年2月', 70, 38, 0.002) ON DUPLICATE KEY UPDATE tsp=70, pm10=38, lead=0.002
insert into malo_khtsp_0903 (sid, dtime, tsp, pm10, lead) values('環保局環境檢驗科', '2018年2月', 76, 46, 0.017) ON DUPLICATE KEY UPDATE tsp=76, pm10=46, lead=0.017
insert into malo_khtsp_0903 (sid, dtime, tsp, pm10, lead) values('大社工業區', '2018年3月', 108, NULL, 0.062) ON DUPLICATE KEY UPDATE tsp=108, pm10=NULL, lead=0.062
insert into malo_khtsp_0903 (sid, dtime, tsp, pm10, lead) values('大寮區公所', '2018年3月', 92, NULL, 0.046) ON DUPLICATE KEY UPDATE tsp=92, pm10=NULL, lead=0.046
insert into malo_khtsp_0903 (sid, dtime, tsp, pm10, lead) values('大樹監測站', '2018年3月', 79, NULL, 0.046) ON DUPLICATE KEY UPDATE tsp=79, pm10=NULL, lead=0.046
insert into malo_khtsp_0903 (sid, dtime, tsp, pm10, lead) values('仁武國中', '2018年3月', 108, NULL, 0.052) ON DUPLICATE KEY UPDATE tsp=108, pm10=NULL, lead=0.052
insert into malo_khtsp_0903 (sid, dtime, tsp, pm10, lead) values('半屏山電信局', '2018年3月', 69, 46, 0.048) ON DUPLICATE KEY UPDATE tsp=69, pm10=46, lead=0.048
insert into malo_khtsp_0903 (sid, dtime, tsp, pm10, lead) values('左營國小', '2018年3月', 54, 36, 0.068) ON DUPLICATE KEY UPDATE tsp=54, pm10=36, lead=0.068
insert into malo_khtsp_0903 (sid, dtime, tsp, pm10, lead) values('永安工業區', '2018年3月', 101, NULL, 0.081) ON DUPLICATE KEY UPDATE tsp=101, pm10=NULL, lead=0.081
insert into malo_khtsp_0903 (sid, dtime, tsp, pm10, lead) values('西子灣中山大學', '2018年3月', 55, 36, 0.061) ON DUPLICATE KEY UPDATE tsp=55, pm10=36, lead=0.061
insert into malo_khtsp_0903 (sid, dtime, tsp, pm10, lead) values('岡山醫院', '2018年3月', 120, NULL, 0.05) ON DUPLICATE KEY UPDATE tsp=120, pm10=NULL, lead=0.05
insert into malo_khtsp_0903 (sid, dtime, tsp, pm10, lead) values('林園工業區', '2018年3月', 94, NULL, 0.05) ON DUPLICATE KEY UPDATE tsp=94, pm10=NULL, lead=0.05
insert into malo_khtsp_0903 (sid, dtime, tsp, pm10, lead) values('河濱國小', '2018年3月', 56, 42, 0.095) ON DUPLICATE KEY UPDATE tsp=56, pm10=42, lead=0.095
insert into malo_khtsp_0903 (sid, dtime, tsp, pm10, lead) values('阿蓮區公所', '2018年3月', 80, NULL, 0.042) ON DUPLICATE KEY UPDATE tsp=80, pm10=NULL, lead=0.042
insert into malo_khtsp_0903 (sid, dtime, tsp, pm10, lead) values('前鎮國小', '2018年3月', 98, 48, 0.082) ON DUPLICATE KEY UPDATE tsp=98, pm10=48, lead=0.082
insert into malo_khtsp_0903 (sid, dtime, tsp, pm10, lead) values('莊敬國小', '2018年3月', 53, 50, 0.064) ON DUPLICATE KEY UPDATE tsp=53, pm10=50, lead=0.064
insert into malo_khtsp_0903 (sid, dtime, tsp, pm10, lead) values('愛國國小', '2018年3月', 74, 44, 0.067) ON DUPLICATE KEY UPDATE tsp=74, pm10=44, lead=0.067
insert into malo_khtsp_0903 (sid, dtime, tsp, pm10, lead) values('楠梓區清潔隊', '2018年3月', 106, 54, 0.077) ON DUPLICATE KEY UPDATE tsp=106, pm10=54, lead=0.077
insert into malo_khtsp_0903 (sid, dtime, tsp, pm10, lead) values('路竹地政事務所', '2018年3月', 103, NULL, 0.065) ON DUPLICATE KEY UPDATE tsp=103, pm10=NULL, lead=0.065
insert into malo_khtsp_0903 (sid, dtime, tsp, pm10, lead) values('鼓山圖書分館', '2018年3月', 58, 40, 0.078) ON DUPLICATE KEY UPDATE tsp=58, pm10=40, lead=0.078
insert into malo_khtsp_0903 (sid, dtime, tsp, pm10, lead) values('衛生局中正辦公室', '2018年3月', 61, 39, 0.078) ON DUPLICATE KEY UPDATE tsp=61, pm10=39, lead=0.078
insert into malo_khtsp_0903 (sid, dtime, tsp, pm10, lead) values('環保局環境檢驗科', '2018年3月', 59, 38, 0.066) ON DUPLICATE KEY UPDATE tsp=59, pm10=38, lead=0.066
insert into malo_khtsp_0903 (sid, dtime, tsp, pm10, lead) values('大社工業區', '2018年4月', 79, NULL, 0.036) ON DUPLICATE KEY UPDATE tsp=79, pm10=NULL, lead=0.036
insert into malo_khtsp_0903 (sid, dtime, tsp, pm10, lead) values('大寮區公所', '2018年4月', 75, NULL, 0.062) ON DUPLICATE KEY UPDATE tsp=75, pm10=NULL, lead=0.062
insert into malo_khtsp_0903 (sid, dtime, tsp, pm10, lead) values('大樹監測站', '2018年4月', 63, NULL, 0.056) ON DUPLICATE KEY UPDATE tsp=63, pm10=NULL, lead=0.056
insert into malo_khtsp_0903 (sid, dtime, tsp, pm10, lead) values('仁武國中', '2018年4月', 78, NULL, 0.035) ON DUPLICATE KEY UPDATE tsp=78, pm10=NULL, lead=0.035
insert into malo_khtsp_0903 (sid, dtime, tsp, pm10, lead) values('半屏山電信局', '2018年4月', 72, 52, 0.044) ON DUPLICATE KEY UPDATE tsp=72, pm10=52, lead=0.044
insert into malo_khtsp_0903 (sid, dtime, tsp, pm10, lead) values('左營國小', '2018年4月', 61, 33, 0.028) ON DUPLICATE KEY UPDATE tsp=61, pm10=33, lead=0.028
insert into malo_khtsp_0903 (sid, dtime, tsp, pm10, lead) values('永安工業區', '2018年4月', 84, NULL, 0.116) ON DUPLICATE KEY UPDATE tsp=84, pm10=NULL, lead=0.116
insert into malo_khtsp_0903 (sid, dtime, tsp, pm10, lead) values('西子灣中山大學', '2018年4月', 51, 30, 0.002) ON DUPLICATE KEY UPDATE tsp=51, pm10=30, lead=0.002
insert into malo_khtsp_0903 (sid, dtime, tsp, pm10, lead) values('岡山醫院', '2018年4月', 82, NULL, 0.062) ON DUPLICATE KEY UPDATE tsp=82, pm10=NULL, lead=0.062
insert into malo_khtsp_0903 (sid, dtime, tsp, pm10, lead) values('林園工業區', '2018年4月', 78, NULL, 0.033) ON DUPLICATE KEY UPDATE tsp=78, pm10=NULL, lead=0.033
insert into malo_khtsp_0903 (sid, dtime, tsp, pm10, lead) values('河濱國小', '2018年4月', 59, 40, 0.054) ON DUPLICATE KEY UPDATE tsp=59, pm10=40, lead=0.054
insert into malo_khtsp_0903 (sid, dtime, tsp, pm10, lead) values('阿蓮區公所', '2018年4月', 63, NULL, 0.037) ON DUPLICATE KEY UPDATE tsp=63, pm10=NULL, lead=0.037
insert into malo_khtsp_0903 (sid, dtime, tsp, pm10, lead) values('前鎮國小', '2018年4月', 82, 48, 0.067) ON DUPLICATE KEY UPDATE tsp=82, pm10=48, lead=0.067
insert into malo_khtsp_0903 (sid, dtime, tsp, pm10, lead) values('莊敬國小', '2018年4月', 67, 50, 0.069) ON DUPLICATE KEY UPDATE tsp=67, pm10=50, lead=0.069
insert into malo_khtsp_0903 (sid, dtime, tsp, pm10, lead) values('愛國國小', '2018年4月', 78, 41, 0.034) ON DUPLICATE KEY UPDATE tsp=78, pm10=41, lead=0.034
insert into malo_khtsp_0903 (sid, dtime, tsp, pm10, lead) values('楠梓區清潔隊', '2018年4月', 74, 37, 0.037) ON DUPLICATE KEY UPDATE tsp=74, pm10=37, lead=0.037
insert into malo_khtsp_0903 (sid, dtime, tsp, pm10, lead) values('路竹地政事務所', '2018年4月', 66, NULL, 0.055) ON DUPLICATE KEY UPDATE tsp=66, pm10=NULL, lead=0.055
insert into malo_khtsp_0903 (sid, dtime, tsp, pm10, lead) values('鼓山圖書分館', '2018年4月', 50, 31, 0.023) ON DUPLICATE KEY UPDATE tsp=50, pm10=31, lead=0.023
insert into malo_khtsp_0903 (sid, dtime, tsp, pm10, lead) values('衛生局中正辦公室', '2018年4月', 60, 31, 0.057) ON DUPLICATE KEY UPDATE tsp=60, pm10=31, lead=0.057
insert into malo_khtsp_0903 (sid, dtime, tsp, pm10, lead) values('環保局環境檢驗科', '2018年4月', 74, 38, 0.044) ON DUPLICATE KEY UPDATE tsp=74, pm10=38, lead=0.044
insert into malo_khtsp_0903 (sid, dtime, tsp, pm10, lead) values('大社工業區', '2018年5月', 55, NULL, 0.036) ON DUPLICATE KEY UPDATE tsp=55, pm10=NULL, lead=0.036
insert into malo_khtsp_0903 (sid, dtime, tsp, pm10, lead) values('大寮區公所', '2018年5月', 43, NULL, 0.021) ON DUPLICATE KEY UPDATE tsp=43, pm10=NULL, lead=0.021
insert into malo_khtsp_0903 (sid, dtime, tsp, pm10, lead) values('大樹監測站', '2018年5月', 37, NULL, 0.05) ON DUPLICATE KEY UPDATE tsp=37, pm10=NULL, lead=0.05
insert into malo_khtsp_0903 (sid, dtime, tsp, pm10, lead) values('仁武國中', '2018年5月', 44, NULL, 0.058) ON DUPLICATE KEY UPDATE tsp=44, pm10=NULL, lead=0.058
insert into malo_khtsp_0903 (sid, dtime, tsp, pm10, lead) values('半屏山電信局', '2018年5月', 40, 23, 0.004) ON DUPLICATE KEY UPDATE tsp=40, pm10=23, lead=0.004
insert into malo_khtsp_0903 (sid, dtime, tsp, pm10, lead) values('左營國小', '2018年5月', 49, 38, 0.047) ON DUPLICATE KEY UPDATE tsp=49, pm10=38, lead=0.047
insert into malo_khtsp_0903 (sid, dtime, tsp, pm10, lead) values('永安工業區', '2018年5月', 52, NULL, 0.031) ON DUPLICATE KEY UPDATE tsp=52, pm10=NULL, lead=0.031
insert into malo_khtsp_0903 (sid, dtime, tsp, pm10, lead) values('西子灣中山大學', '2018年5月', 22, 12, 0.021) ON DUPLICATE KEY UPDATE tsp=22, pm10=12, lead=0.021
insert into malo_khtsp_0903 (sid, dtime, tsp, pm10, lead) values('岡山醫院', '2018年5月', 39, NULL, 0.03) ON DUPLICATE KEY UPDATE tsp=39, pm10=NULL, lead=0.03
insert into malo_khtsp_0903 (sid, dtime, tsp, pm10, lead) values('林園工業區', '2018年5月', 36, NULL, 0.016) ON DUPLICATE KEY UPDATE tsp=36, pm10=NULL, lead=0.016
insert into malo_khtsp_0903 (sid, dtime, tsp, pm10, lead) values('河濱國小', '2018年5月', 34, 21, 0.027) ON DUPLICATE KEY UPDATE tsp=34, pm10=21, lead=0.027
insert into malo_khtsp_0903 (sid, dtime, tsp, pm10, lead) values('阿蓮區公所', '2018年5月', 35, NULL, 0.014) ON DUPLICATE KEY UPDATE tsp=35, pm10=NULL, lead=0.014
insert into malo_khtsp_0903 (sid, dtime, tsp, pm10, lead) values('前鎮國小', '2018年5月', 49, 27, 0.055) ON DUPLICATE KEY UPDATE tsp=49, pm10=27, lead=0.055
insert into malo_khtsp_0903 (sid, dtime, tsp, pm10, lead) values('莊敬國小', '2018年5月', 35, 25, 0.011) ON DUPLICATE KEY UPDATE tsp=35, pm10=25, lead=0.011
insert into malo_khtsp_0903 (sid, dtime, tsp, pm10, lead) values('愛國國小', '2018年5月', 35, 19, 0.025) ON DUPLICATE KEY UPDATE tsp=35, pm10=19, lead=0.025
insert into malo_khtsp_0903 (sid, dtime, tsp, pm10, lead) values('楠梓區清潔隊', '2018年5月', 40, 19, 0.017) ON DUPLICATE KEY UPDATE tsp=40, pm10=19, lead=0.017
insert into malo_khtsp_0903 (sid, dtime, tsp, pm10, lead) values('路竹地政事務所', '2018年5月', 41, NULL, 0.049) ON DUPLICATE KEY UPDATE tsp=41, pm10=NULL, lead=0.049
insert into malo_khtsp_0903 (sid, dtime, tsp, pm10, lead) values('鼓山圖書分館', '2018年5月', 26, 17, 0.004) ON DUPLICATE KEY UPDATE tsp=26, pm10=17, lead=0.004
insert into malo_khtsp_0903 (sid, dtime, tsp, pm10, lead) values('衛生局中正辦公室', '2018年5月', 34, 18, 0.011) ON DUPLICATE KEY UPDATE tsp=34, pm10=18, lead=0.011
insert into malo_khtsp_0903 (sid, dtime, tsp, pm10, lead) values('環保局環境檢驗科', '2018年5月', 44, 23, 0.029) ON DUPLICATE KEY UPDATE tsp=44, pm10=23, lead=0.029
insert into malo_khtsp_0903 (sid, dtime, tsp, pm10, lead) values('大社工業區', '2018年6月', 58, NULL, 0.042) ON DUPLICATE KEY UPDATE tsp=58, pm10=NULL, lead=0.042
insert into malo_khtsp_0903 (sid, dtime, tsp, pm10, lead) values('大寮區公所', '2018年6月', 41, NULL, 0.006) ON DUPLICATE KEY UPDATE tsp=41, pm10=NULL, lead=0.006
insert into malo_khtsp_0903 (sid, dtime, tsp, pm10, lead) values('大樹監測站', '2018年6月', 37, NULL, 0.019) ON DUPLICATE KEY UPDATE tsp=37, pm10=NULL, lead=0.019
insert into malo_khtsp_0903 (sid, dtime, tsp, pm10, lead) values('仁武國中', '2018年6月', 48, NULL, 0.034) ON DUPLICATE KEY UPDATE tsp=48, pm10=NULL, lead=0.034
insert into malo_khtsp_0903 (sid, dtime, tsp, pm10, lead) values('半屏山電信局', '2018年6月', 37, 22, 0.021) ON DUPLICATE KEY UPDATE tsp=37, pm10=22, lead=0.021
insert into malo_khtsp_0903 (sid, dtime, tsp, pm10, lead) values('左營國小', '2018年6月', 22, 16, 0.034) ON DUPLICATE KEY UPDATE tsp=22, pm10=16, lead=0.034
insert into malo_khtsp_0903 (sid, dtime, tsp, pm10, lead) values('永安工業區', '2018年6月', 45, NULL, 0.014) ON DUPLICATE KEY UPDATE tsp=45, pm10=NULL, lead=0.014
insert into malo_khtsp_0903 (sid, dtime, tsp, pm10, lead) values('西子灣中山大學', '2018年6月', 35, 21, 0.013) ON DUPLICATE KEY UPDATE tsp=35, pm10=21, lead=0.013
insert into malo_khtsp_0903 (sid, dtime, tsp, pm10, lead) values('岡山醫院', '2018年6月', 20, NULL, 0.014) ON DUPLICATE KEY UPDATE tsp=20, pm10=NULL, lead=0.014
insert into malo_khtsp_0903 (sid, dtime, tsp, pm10, lead) values('林園工業區', '2018年6月', 48, NULL, 0.047) ON DUPLICATE KEY UPDATE tsp=48, pm10=NULL, lead=0.047
insert into malo_khtsp_0903 (sid, dtime, tsp, pm10, lead) values('河濱國小', '2018年6月', 29, 17, 0.021) ON DUPLICATE KEY UPDATE tsp=29, pm10=17, lead=0.021
insert into malo_khtsp_0903 (sid, dtime, tsp, pm10, lead) values('阿蓮區公所', '2018年6月', 33, NULL, 0.006) ON DUPLICATE KEY UPDATE tsp=33, pm10=NULL, lead=0.006
insert into malo_khtsp_0903 (sid, dtime, tsp, pm10, lead) values('前鎮國小', '2018年6月', 79, 37, 0.021) ON DUPLICATE KEY UPDATE tsp=79, pm10=37, lead=0.021
insert into malo_khtsp_0903 (sid, dtime, tsp, pm10, lead) values('莊敬國小', '2018年6月', 33, 23, 0.054) ON DUPLICATE KEY UPDATE tsp=33, pm10=23, lead=0.054
insert into malo_khtsp_0903 (sid, dtime, tsp, pm10, lead) values('愛國國小', '2018年6月', 39, 23, 0.034) ON DUPLICATE KEY UPDATE tsp=39, pm10=23, lead=0.034
insert into malo_khtsp_0903 (sid, dtime, tsp, pm10, lead) values('楠梓區清潔隊', '2018年6月', 43, 21, 0.021) ON DUPLICATE KEY UPDATE tsp=43, pm10=21, lead=0.021
insert into malo_khtsp_0903 (sid, dtime, tsp, pm10, lead) values('路竹地政事務所', '2018年6月', 47, NULL, 0.012) ON DUPLICATE KEY UPDATE tsp=47, pm10=NULL, lead=0.012
insert into malo_khtsp_0903 (sid, dtime, tsp, pm10, lead) values('鼓山圖書分館', '2018年6月', 27, 16, 0.034) ON DUPLICATE KEY UPDATE tsp=27, pm10=16, lead=0.034
insert into malo_khtsp_0903 (sid, dtime, tsp, pm10, lead) values('衛生局中正辦公室', '2018年6月', 29, 17, 0.05) ON DUPLICATE KEY UPDATE tsp=29, pm10=17, lead=0.05
insert into malo_khtsp_0903 (sid, dtime, tsp, pm10, lead) values('環保局環境檢驗科', '2018年6月', 38, 21, 0.02) ON DUPLICATE KEY UPDATE tsp=38, pm10=21, lead=0.02
insert into malo_khtsp_0903 (sid, dtime, tsp, pm10, lead) values('大社工業區', '2018年7月', 67, NULL, 0.013) ON DUPLICATE KEY UPDATE tsp=67, pm10=NULL, lead=0.013
insert into malo_khtsp_0903 (sid, dtime, tsp, pm10, lead) values('大寮區公所', '2018年7月', 44, NULL, 0.013) ON DUPLICATE KEY UPDATE tsp=44, pm10=NULL, lead=0.013
insert into malo_khtsp_0903 (sid, dtime, tsp, pm10, lead) values('仁武國中', '2018年7月', 56, NULL, 0.02) ON DUPLICATE KEY UPDATE tsp=56, pm10=NULL, lead=0.02
insert into malo_khtsp_0903 (sid, dtime, tsp, pm10, lead) values('半屏山電信局', '2018年7月', 32, 18, 0.022) ON DUPLICATE KEY UPDATE tsp=32, pm10=18, lead=0.022
insert into malo_khtsp_0903 (sid, dtime, tsp, pm10, lead) values('左營國小', '2018年7月', 37, 16, 0.022) ON DUPLICATE KEY UPDATE tsp=37, pm10=16, lead=0.022
insert into malo_khtsp_0903 (sid, dtime, tsp, pm10, lead) values('永安工業區', '2018年7月', 56, NULL, 0.086) ON DUPLICATE KEY UPDATE tsp=56, pm10=NULL, lead=0.086
insert into malo_khtsp_0903 (sid, dtime, tsp, pm10, lead) values('西子灣中山大學', '2018年7月', 41, 20, 0.013) ON DUPLICATE KEY UPDATE tsp=41, pm10=20, lead=0.013
insert into malo_khtsp_0903 (sid, dtime, tsp, pm10, lead) values('岡山醫院', '2018年7月', 17, NULL, 0.006) ON DUPLICATE KEY UPDATE tsp=17, pm10=NULL, lead=0.006
insert into malo_khtsp_0903 (sid, dtime, tsp, pm10, lead) values('林園工業區', '2018年7月', 51, NULL, 0.028) ON DUPLICATE KEY UPDATE tsp=51, pm10=NULL, lead=0.028

In [24]:
# 找出某個站的資料: where
sid = '左營國小'
sql_cmd_str = "select * from %s where sid='%s'" %(table_name, sid)
resultProxy=my_db.execute(sql_cmd_str)
data = resultProxy.fetchall()
print('-- data --')
print(data)

-- data --
[('左營國小', '2018年10月', 89.0, 51.0, 0.024), ('左營國小', '2018年11月', 65.0, 38.0, 0.035), ('左營國小', '2018年12月', 90.0, 52.0, 0.019), ('左營國小', '2018年1月', 98.0, 64.0, 0.006), ('左營國小', '2018年2月', 59.0, 32.0, 0.017), ('左營國小', '2018年3月', 54.0, 36.0, 0.068), ('左營國小', '2018年4月', 61.0, 33.0, 0.028), ('左營國小', '2018年5月', 49.0, 38.0, 0.047), ('左營國小', '2018年6月', 22.0, 16.0, 0.034), ('左營國小', '2018年7月', 37.0, 16.0, 0.022), ('左營國小', '2018年8月', 22.0, 14.0, 0.004), ('左營國小', '2018年9月', 32.0, 22.0, 0.02)]

In [25]:
# 找出某個站的資料, 並排序: where, order
sid = '左營國小'
sql_cmd_str = "select * from %s where sid='%s' order by dtime DESC" %(table_name, sid)
resultProxy=my_db.execute(sql_cmd_str)
data = resultProxy.fetchall()
print('-- data --')
print(data)

-- data --
[('左營國小', '2018年9月', 32.0, 22.0, 0.02), ('左營國小', '2018年8月', 22.0, 14.0, 0.004), ('左營國小', '2018年7月', 37.0, 16.0, 0.022), ('左營國小', '2018年6月', 22.0, 16.0, 0.034), ('左營國小', '2018年5月', 49.0, 38.0, 0.047), ('左營國小', '2018年4月', 61.0, 33.0, 0.028), ('左營國小', '2018年3月', 54.0, 36.0, 0.068), ('左營國小', '2018年2月', 59.0, 32.0, 0.017), ('左營國小', '2018年1月', 98.0, 64.0, 0.006), ('左營國小', '2018年12月', 90.0, 52.0, 0.019), ('左營國小', '2018年11月', 65.0, 38.0, 0.035), ('左營國小', '2018年10月', 89.0, 51.0, 0.024)]

In [27]:
# 找出某個站的資料, 並排序: where, order
sid = '左營國小'
sql_cmd_str = "select * from %s where sid='%s' order by dtime ASC" %(table_name, sid)
resultProxy=my_db.execute(sql_cmd_str)
data = resultProxy.fetchall()
print('-- data --')
print(data)

-- data --
[('左營國小', '2018年10月', 89.0, 51.0, 0.024), ('左營國小', '2018年11月', 65.0, 38.0, 0.035), ('左營國小', '2018年12月', 90.0, 52.0, 0.019), ('左營國小', '2018年1月', 98.0, 64.0, 0.006), ('左營國小', '2018年2月', 59.0, 32.0, 0.017), ('左營國小', '2018年3月', 54.0, 36.0, 0.068), ('左營國小', '2018年4月', 61.0, 33.0, 0.028), ('左營國小', '2018年5月', 49.0, 38.0, 0.047), ('左營國小', '2018年6月', 22.0, 16.0, 0.034), ('左營國小', '2018年7月', 37.0, 16.0, 0.022), ('左營國小', '2018年8月', 22.0, 14.0, 0.004), ('左營國小', '2018年9月', 32.0, 22.0, 0.02)]

----
### 為何排序出了問題!?

In [31]:
# 先把資料都刪掉: DELETE FROM table_name
sql_cmd_str = "DELETE FROM %s" %(table_name)
resultProxy=my_db.execute(sql_cmd_str)

In [37]:
# 確認資料
sql_cmd_str = "select * from %s" %(table_name)
resultProxy=my_db.execute(sql_cmd_str)
data = resultProxy.fetchall()
data

[]

In [38]:
# 做upsert操作: 試著改時間格式
import datetime
import random

for item in data_list[1:]:
    sid = item[0]#['Name']
    dtime = item[1]#['Date']
    dtime = dtime.replace('月', '')
    dtime_tmp = dtime.split('年')
    dtime = '%s-%02d' %(dtime_tmp[0], int(dtime_tmp[1]))
    tsp = item[2]#['TSP']
    if tsp=='':
        tsp = 'NULL'
    pm10 = item[3]#['PM10']
    if pm10=='':
        pm10 = 'NULL'
    lead = item[7]#['Lead']
    if lead=='':
        lead = 'NULL'
    sql_cmd_str = "insert into %s (sid, dtime, tsp, pm10, lead) values('%s', '%s', %s, %s, %s)" %(
        table_name, sid, dtime, tsp, pm10, lead)
    sql_cmd_str = sql_cmd_str + (" ON DUPLICATE KEY UPDATE tsp=%s, pm10=%s, lead=%s" %(tsp, pm10, lead))
    resultProxy=my_db.execute(sql_cmd_str)
    #print(sql_cmd_str)

In [29]:
# 這樣的時間格式未來如何轉換
dt1 = datetime.datetime.strptime('2018-03','%Y-%m') #把時間字串轉為datetime物件
dt1

datetime.datetime(2018, 3, 1, 0, 0)

- 再來取資料，並做排序

In [39]:
# 找出某個站的資料, 並排序: where, order
sid = '左營國小'
sql_cmd_str = "select * from %s where sid='%s' order by dtime ASC" %(table_name, sid)
resultProxy=my_db.execute(sql_cmd_str)
data = resultProxy.fetchall()
print('-- data --')
print(data)

-- data --
[('左營國小', '2018-01', 98.0, 64.0, 0.006), ('左營國小', '2018-02', 59.0, 32.0, 0.017), ('左營國小', '2018-03', 54.0, 36.0, 0.068), ('左營國小', '2018-04', 61.0, 33.0, 0.028), ('左營國小', '2018-05', 49.0, 38.0, 0.047), ('左營國小', '2018-06', 22.0, 16.0, 0.034), ('左營國小', '2018-07', 37.0, 16.0, 0.022), ('左營國小', '2018-08', 22.0, 14.0, 0.004), ('左營國小', '2018-09', 32.0, 22.0, 0.02), ('左營國小', '2018-10', 89.0, 51.0, 0.024), ('左營國小', '2018-11', 65.0, 38.0, 0.035), ('左營國小', '2018-12', 90.0, 52.0, 0.019)]

In [40]:
# 找出某個站的資料, 並排序: where, order
sid = '大寮區公所'
sql_cmd_str = "select * from %s where sid='%s' order by dtime ASC" %(table_name, sid)
resultProxy=my_db.execute(sql_cmd_str)
data = resultProxy.fetchall()
print('-- data --')
print(data)

-- data --
[('大寮區公所', '2018-01', 79.0, None, 0.042), ('大寮區公所', '2018-02', 91.0, None, 0.018), ('大寮區公所', '2018-03', 92.0, None, 0.046), ('大寮區公所', '2018-04', 75.0, None, 0.062), ('大寮區公所', '2018-05', 43.0, None, 0.021), ('大寮區公所', '2018-06', 41.0, None, 0.006), ('大寮區公所', '2018-07', 44.0, None, 0.013), ('大寮區公所', '2018-08', 14.0, None, 0.01), ('大寮區公所', '2018-09', 31.0, None, 0.043), ('大寮區公所', '2018-10', 79.0, None, 0.041), ('大寮區公所', '2018-11', 98.0, None, 0.016), ('大寮區公所', '2018-12', 124.0, None, 0.012)]